{% load static %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Padauk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'application/css/base.css' %}">
    <link rel="icon" href="{% static 'application/site_icon.png' %}">
    <script type="text/javascript" src="{% static 'application/js/jquery-1.7.2.min.js' %}"></script>
    <title>{% block title %}ComicsHub{% endblock title %}</title>
    {% block style %}{% endblock style %}
</head>
<body>

    {% include 'inc/_header.html' %}

    <main>
        {% block info_panel %}{% endblock info_panel %}

        <div class="container">
            <div class="main__inner">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </main>

    {% block scripts %}{% endblock scripts %}
    <script src="{% static 'application/js/header.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js" integrity="sha512-F6j8lc1UBrmZHqUGreg4gNVVMCehTbf/LU0s/nnsQJYVeFSdpci+fcL48gsTd1Fbf08sD/kL+is2QiEssvJ70g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/draggable.bundle.js"></script>-->
</body>
</html>