{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add comics | {{ block.super }}{% endblock title %}

{% block css %}
    <style>
        html * {
            box-sizing: border-box;
        }

        p {
            margin: 0;
        }

        .upload__box {
            padding: 40px 0 40px;
        }

        .upload__inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .upload__btn {
            display: inline-block;
            font-weight: 600;
            color: #fff;
            text-align: center;
            min-width: 116px;
            padding: 5px;
            transition: all 0.3s ease;
            cursor: pointer;
            border: 2px solid;
            background-color: #4045ba;
            border-color: #4045ba;
            border-radius: 10px;
            line-height: 26px;
            font-size: 14px;
        }

        .upload__btn:hover {
            background-color: unset;
            color: #4045ba;
            transition: all 0.3s ease;
        }

        .upload__btn-box {
            margin-bottom: 10px;
        }

        .upload__img-wrap {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
        }

        .upload__img-box {
            height: 360px;
            padding: 0 10px;
            margin-bottom: 12px;
        }

        .upload__img-close {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;
            line-height: 24px;
            z-index: 1;
            cursor: pointer;
        }

        .upload__img-close:after {
            content: "✖";
            font-size: 14px;
            color: white;
        }

        .img-bg {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            padding-bottom: 100%;
        }

        .error-list {
            width: 100%;
            padding: 10px 5px 10px 5px;
            margin-bottom: 30px;
            background-color: rgba(234, 68, 68, 0.4);
            border-radius: 6px;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="container">
        <h3 class="mt-5 mb-5 text-center">Add comics</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}


            {% if add_comics_form.errors %}
                <div class="error-list">
                    {{ add_comics_form.errors }}
                </div>
            {% endif %}


            {{ add_comics_form.non_field_errors }}
            <div class="form-group">
                <label style="font-size: 1.3em;" for="{{ add_comics_form.title.id_for_label }}">Title<span style="color: #6610f2;">*</span></label>
                {{ add_comics_form.title }}
                {{ add_comics_form.title.errors }}
            </div>
            <div class="form-group">
                <label style="font-size: 1.3em;" for="{{ add_comics_form.description.id_for_label }}">Description</label>
                {{ add_comics_form.description }}
                {{ add_comics_form.description.errors }}
            </div>
            <div class="form-check mt-3 mb-3">
                {{ add_comics_form.is_complete }}
                <label style="font-size: 1.3em;" for="{{ add_comics_form.is_complete.id_for_label }}">Is complete</label>
                {{ add_comics_form.is_complete.errors }}
            </div>
            <div class="form-group">
                <label style="font-size: 1.3em;" for="{{ add_comics_form.preview_image.id_for_label }}">Preview image<span style="color: #6610f2;">*</span></label>
                {{ add_comics_form.preview_image }}
                {{ add_comics_form.preview_image.errors }}
            </div>

            <div class="upload__box">
                <div class="upload__btn-box">
                    <label class="upload__btn">
                        <p>Upload images</p>
                        <input required type="file" name="images" multiple="" data-max_length="50" class="upload__inputfile">
                    </label>
                </div>
                <div id="upload__img-wrap" class="row upload__img-wrap"></div>
            </div>
            <button type="submit" class="btn btn-outline-primary mb-5" style="width: 100%;">Add</button>
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js" integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        jQuery(document).ready(function () {
            ImgUpload();
        });

        function ImgUpload() {
            var imgWrap = "";
            var imgArray = [];

            $('.upload__inputfile').each(function () {
                $(this).on('change', function (e) {
                    imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
                    var maxLength = $(this).attr('data-max_length');

                    var files = e.target.files;
                    var filesArr = Array.prototype.slice.call(files);
                    var iterator = 0;
                    filesArr.forEach(function (f, index) {

                        var fileExtension = ['jpg', 'jpeg']; // допустимые типы файлов
                        if ($.inArray(f.name.split('.').pop().toLowerCase(), fileExtension) === -1) {
                            return;
                        }

                        if (!f.type.match('image.*')) {
                            return;
                        }

                        if (imgArray.length > maxLength) {
                            return false
                        } else {
                            var len = 0;
                            for (var i = 0; i < imgArray.length; i++) {
                                if (imgArray[i] !== undefined) {
                                    len++;
                                }
                            }
                            if (len > maxLength) {
                                return false;
                            } else {
                                imgArray.push(f);

                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var html = "<div class='upload__img-box col-md-3'><div style='height: 100%; border-radius: 6px; background-image: url(" + e.target.result + ")' data-number='" + $(".upload__img-close").length + "' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'></div></div></div>";
                                    imgWrap.append(html);
                                    iterator++;
                                }
                                reader.readAsDataURL(f);
                            }
                        }
                    });
                });
            });

            $('body').on('click', ".upload__img-close", function (e) {
                var file = $(this).parent().data("file");
                for (var i = 0; i < imgArray.length; i++) {
                    if (imgArray[i].name === file) {
                        imgArray.splice(i, 1);
                        break;
                    }
                }
                $(this).parent().parent().remove();
            });
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', (e) => {
            new Sortable(document.getElementById('upload__img-wrap'), {
                // options here
            });
        })
    </script>
{% endblock script %}
