{% extends 'base.html' %}
{% load static %}
{% load include_tags %}


{% block content %}
    
    {% comment %} <form action="" method="get" id="sortComics">

        <div class="box sort pull-right">
            <span>Сортировка:</span>
            <button value="Сортировка" class="dropdown-toggle" type="submit" data-toggle="dropdown" id="menu2">
             <span class="dropdown-label">По умолчанию</span>
            </button>
           <label class="dropdown-menu" role="menu" aria-labelledby="menu2"></label>
            <select name="orderby" id="" value="-updated_at">
                <option value="-id">-id</option>
                <option value="updated_at">updated_at</option>
                <option value="-updated_at">-updated_at</option>
            </select>
            <button type="submit">Поиск</button>
              <!-- <select><input type="submit" name="orderby" value="-id"></select>
              <select><input type="submit" name="orderby" value="updated_at"></select>
              <select><input type="submit" name="orderby" value="-updated_at"></select> -->
          </div>

    </form> {% endcomment %}

    <h1>Comics from {{ author.username }}</h1>

    <div class="card-rows">
        {% for item in comics %}
            <div class="card">
                <img class="card-img" src="{{ item.preview_image.url }}" alt="">
                <div class="content">
                    <h3>{{ item.title }}</h3>
                    <p>
                        {{ item.description }}
                    </p>
                    <a href="{% url 'detail_comics_view' item.slug %}">Read comics</a>
                    <p>{{ item.total_unique_views }} views</p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% comment %} {% if page_obj.has_other_pages %}
    <div class="pagination-wrapper">
        <div class="pagination">
            
            {% if page_obj.has_previous %}
                <a class="previous_next" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% endif %}

            {% if page_obj.number != 1 %}
                <a href="?page=1">1</a>
            {% endif %}

            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <a class="active" href="?page={{ p }}">{{ p }}</a>
                {% elif p != 1 and p != paginator.num_pages and p <= page_obj.number|add:3 and p >= page_obj.number|add:-3 %}
                    <a href="?page={{ p }}">{{ p }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.number != paginator.num_pages %}
                <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
            {% endif %}
            
            {% if page_obj.has_next %}
                <a class="previous_next" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% endif %}
        </div>
    </div>
    {% endif %} {% endcomment %}
{% endblock content %}
