{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1 class="card-title">Latest updates</h1>
    <div class="card-rows">
        {% for item in comics %}
            <div class="card">
                <img class="card-img" src="{{ item.preview_image.url }}" alt="">
                <div class="content">
                    <h3>{{ item.title }}</h3>
                    <p>
                        {{ item.description }}
                    </p>
                    <a href="{% url 'detail_comics_view' item.slug %}">Read comics</a>
                    <p>{{ item.total_unique_views }} views</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="view-all-comics"><a href="{% url 'all-comics' %}">View all</a></div>
{% endblock content %}
