{% extends 'base.html' %}
{% load include_tags %}
{% load crispy_forms_tags %}
{% load humanize  %}

{% block title %}{{ comics.title }} | {{ block.super }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css" integrity="sha512-8Vtie9oRR62i7vkmVUISvuwOeipGv8Jd+Sur/ORKDD5JiLgTGeBSkI3ISOhc730VGvA5VVQPwKIKlmi+zMZ71w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

        .view_pages {
            margin: 0 0 50px;

            border-radius: 12px;

            width: 100%;
            height: 75vh;
            overflow: scroll;
        }

        .view_pages::-webkit-scrollbar {
            width: 0;
        }

        .scroll_container {
            height: 5px;
            background-color: rgb(128, 128, 128);

            margin: 0 10px 0 10px;
        }

        .scroll_indicate {
            width: 0%;
            height: 100%;

            background-color: red;
        }

        .page_img {
            width: 100%;
        }

        .user-image-container {
            margin-right: 15px;
        }

        .user-image {
            display: block;
            width: 90px;
            height: 90px;

            border-radius: 90%;
        }

        .user-image-url {
            border-radius: 90%;
        }

        .username {
            font-size: 1.2em;
            font-weight: bold;
        }

        .username-link {
            color: #1e1e1e;
        }

        .username-link:hover {
            color: #1e1e1e;
        }

        .description {
            margin: 15px 0 15px;
        }


        .comments-view {
            display: grid;
            place-items: center;
        }

        .media img {
            width: 60px;
            height: 60px;
        }

        .reply a {
            text-decoration: none;
        }

        .delete-comment {
            color: #a21e1e;
            font-weight: 600;
        }

        .delete-comment:hover {
            color: #6b0707;
        }

        .bg-modal.open {
            width: 100%;
            height: 100vh;
            background-color: #232323;
            opacity: .4;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2200;
        }

        .modal-window {
            background-color: aliceblue;
            border-radius: 6px;
        }

        .modal-window.delete-comment-window.open {
            width: 100%;
            max-width: 600px;
            height: 400px;

            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2201;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="container">
        <h3 class="mt-5 mb-5 text-center">{{ comics.title }}</h3>

        <div class="scroll_container">
            <div class="scroll_indicate"></div>
        </div>
        <div class="view_pages">
            {% for img in images %}
                <img class="page_img" src="{{ img.image.url }}" alt="">
            {% endfor %}
        </div>

        <hr>

        <div class="">

            <div class="creator-detail d-flex align-items-center">
                <div class="user-image-container">
                    <a class="user-image-url" href="{% url 'user_profile' creator.pk %}">
                        <img class="user-image" src="{% get_avatar_or_default user_avatar=creator.avatar %}" alt="">
                    </a>
                </div>
                <div class="username">
                    <a class="username-link" href="{% url 'user_profile' creator.pk %}">
                        {{ creator.username }}
                    </a>
                </div>
            </div>

            <div class="description">
                <h6 class="description-title">Comics description:</h6>
                <div class="description-subtitle">
                    {% if comics.description %}
                        {{ comics.description }}
                    {% else %}
                        No description.
                    {% endif %}
                </div>
            </div>
        </div>

        <hr>

        <div class="comments-block">
            <h5 class="comments-title"><span id="total-comments">{{ total_comments }}</span> comments</h5>

            <form id="add_comment_form" action="{% url 'view_comics' comics.slug %}" method="post" class="row align-items-center mb-4" name="add-comment">
                {% csrf_token %}

                <div class="col-11">
                    {{ leave_comment_form.comment_text }}
                </div>

                <div class="col-1">
                    <button id="add_comment_btn" type="submit" class="btn btn-outline-primary">Primary</button>
                </div>
            </form>

            <div class="comments-view row">

                <div id='comments-block' class="col-md-12">
                    {% for comment in comments %}
                        <div class="media mt-4 mb-4">
                            <a class="pr-3" href="{% url 'user_profile' comment.author.pk %}">
                                <img class="rounded-circle" alt="" src="{% get_avatar_or_default user_avatar=comment.author.avatar %}">
                            </a>

                            <div class="media-body">

                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5 class="pr-2">{{ comment.author.username }}</h5>
                                        <span class="pr-2">{{ comment.pub_date|naturaltime }}</span>
                                        {% if request.user == comment.author %}
                                            <a class="delete-comment" href="">delete</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        <div class="float-right reply">
                                            <a href="#">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                                                        <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
                                                    </svg> reply
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                {{ comment.comment }}

                                {% if comment.get_children_count %}
                                    <div class="replies mt-4 mb-3">
                                        {% for replies in comment.get_children %}
                                            <div class="media mt-4">
                                                <a class="pr-3" href="{% url 'user_profile' replies.author.pk %}">
                                                    <img class="rounded-circle" alt="" src="{% get_avatar_or_default user_avatar=replies.author.avatar %}">
                                                </a>
                                                <div class="media-body">
                                                    <div class="row">
                                                        <div class="col-12 d-flex">
                                                            <h5 class="pr-2">{{ replies.author.username }}</h5>
                                                            <span>{{ replies.pub_date|naturaltime }}</span>
                                                        </div>
                                                    </div>
                                                    {{ replies.comment }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="modal-window-delete-comment" class="modal-window delete-comment-window">
                <h4 class="delete-comment-window-title">Do you want to delete the comment?</h4>
                <div class="d-flex delete-comment-window-buttons">
                    <button type="button" id="delete-comment-window-buttons-no" class="btn btn-outline-danger">No</button>
                    <button type="button" id="delete-comment-window-buttons-yes" class="btn btn-outline-primary">Yes</button>
                </div>
            </div>

            <div id="bg-modal" class="bg-modal"></div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', (e) => {
            const scrollElem = document.querySelector('.scroll_indicate');
            const viewPages = document.querySelector('.view_pages');
            const scroll = localStorage.getItem('scroll') || 0;

            viewPages.scrollTop = scroll;

            function scrollIndicate() {
                const top = viewPages.scrollTop;
                const height = viewPages.scrollHeight - viewPages.clientHeight;
                const scrollYCounter = (top / height) * 100;

                scrollElem.style.width = scrollYCounter + '%';
            }

            viewPages.addEventListener('scroll', function() {
                scrollIndicate();
                localStorage.setItem('scroll', viewPages.scrollTop);
            });


            const form = $('#add_comment_form');
            let commentsBlock = document.getElementById('comments-block');
            let total_comments = document.getElementById('total-comments');
            form.on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    data: form.serialize(),
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),

                    success: function (response) {
                        const html = `
                            <div class="media mt-4 mb-4">
                                <a class="pr-3" href="{% url 'user_profile' request.user.pk %}">
                                    <img class="rounded-circle" alt="" src="${response['user_avatar']}">
                                </a>

                                <div class="media-body">

                                    <div class="row">
                                        <div class="col-8 d-flex">
                                            <h5 class="pr-2">${response['username']}</h5>
                                            <span>-${response['pub_date']}</span>
                                        </div>
                                        <div class="col-4">
                                            <div class="float-right reply">
                                                <a href="#">
                                                    <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                                                            <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
                                                        </svg> reply
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    ${response['comment_text']}
                                </div>
                            </div>
                        `

                        commentsBlock.insertAdjacentHTML('afterbegin', html);
                        total_comments.innerText = Number(total_comments.innerText) + 1;
                    },
                    error: function () {
                        console.log('error');
                    }
                });
            })

            const deleteBtns = document.querySelectorAll('.delete-comment');
            const modalWindowDelete = document.getElementById('modal-window-delete-comment');
            const bgModal = document.getElementById('bg-modal');
            const noDeleteBtn = document.getElementById('delete-comment-window-buttons-no');
            const yesDeleteBtn = document.getElementById('delete-comment-window-buttons-yes');
            deleteBtns.forEach(btn => {
                btn.addEventListener('click', e => {
                    e.preventDefault();
                    modalWindowDelete.classList.add('open');
                    bgModal.classList.add('open');
                });
            });
            noDeleteBtn.addEventListener('click', e => {
                modalWindowDelete.classList.remove('open');
                bgModal.classList.remove('open');
            })
        })
    </script>
{% endblock script %}