{% extends 'base.html' %}

{% block title %}{{ comics.title }} | {{ block.super }}{% endblock title %}

{% block css %}
    <style>
        .view_pages {
            margin: 0 0 50px;

            border-radius: 12px;

            width: 100%;
            height: 75vh;
            overflow: scroll;
        }

        .view_pages::-webkit-scrollbar {
            width: 0;
        }

        .scroll_container {
            height: 5px;
            background-color: rgb(128, 128, 128);

            margin: 0 10px 0 10px;
        }

        .scroll_indicate {
            width: 0%;
            height: 100%;

            background-color: red;
        }

        .page_img {
            width: 100%;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="container">
        <h3 class="mt-5 mb-5 text-center">{{ comics.title }}</h3>

        <div class="scroll_container">
            <div class="scroll_indicate"></div>
        </div>
        <div class="view_pages">
            {% for img in images %}
                <img class="page_img" src="{{ img.image.url }}" alt="">
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', (e) => {
            const scrollElem = document.querySelector('.scroll_indicate');
            const viewPages = document.querySelector('.view_pages');
            const scroll = localStorage.getItem('scroll') || 0;

            viewPages.scrollTop = scroll;

            function scrollIndicate() {
                const top = viewPages.scrollTop;
                const height = viewPages.scrollHeight - viewPages.clientHeight;
                const scrollYCounter = (top / height) * 100;

                scrollElem.style.width = scrollYCounter + '%';
            }

            viewPages.addEventListener('scroll', function() {
                scrollIndicate();
                localStorage.setItem('scroll', viewPages.scrollTop);
            });
        })
    </script>
{% endblock script %}