{% extends 'base.html' %}
{% load static %}
{% load include_tags %}

{% block title %} {{ user_profile.username }} | {{ block.super }} {% endblock title %}


{% block content %}

    <div class="user_profile_page">
        <div class="user_info">
            <img src="{% get_avatar_or_default user_avatar=user_profile.avatar %}" alt="" class="profile-pic">
            <h2 class="heading">{{ user_profile.username }}</h2>
            
            <div class="stats">
                <div class="col">
                    <h4>{{ comics_col }}</h4>
                    <p>Comics</p>
                </div>
                <div class="col">
                    <h4>666к</h4>
                    <p>Subscribers</p>
                </div>
                <div class="col">
                    <h4>{{ user_comics.likes_count.likes }}</h4>
                    <p>Likes</p>
                </div>
            </div>
        </div>

        <div class="user_comics">
            <h1 class="card-title">Comics</h1>
            <div class="card-rows">
                {% for item in user_comics %}
                    <div class="user_profile-card">
                       <img src="{{ item.preview_image.url }}" alt="" class="user_profile-card-img">
                       <div class="content">
                           <p>{{ item.like_dislikes.likes.count }} likes</p>
                           <h3>{{ item.title }}</h3>
                           <a href="{% url 'detail_comics_view' item.slug %}">Read comics</a>
                           <p>{{ item.total_unique_views }} views</p>
                       </div>
                    </div>
                {% empty %}
                    <div class="no_comics_yet">
                        <h4>This user has no comics yet (*μ_μ)</h4>
                    </div>
                {% endfor %}
            </div>
            {% if user_comics %}
                <div class="view-all-comics"><a href="{% url 'authors-comics' user_profile.username %}">View all</a></div>
            {% endif %}
        </div>
    </div>

{% endblock content %}